In [17]:
import duckdb
import sqlite3
import pandas as pd

# 1. Hubungkan ke file DuckDB kamu
con_duck = duckdb.connect('database.duckdb')  # ganti nama file sesuai punya kamu

# 2. Buat file SQLite tujuan
con_sqlite = sqlite3.connect('database_baru.sqlite')  # nama file SQLite baru

# 3. Ambil semua tabel dari DuckDB
tables = con_duck.execute("SHOW TABLES").fetchall()
tables = [t[0] for t in tables]

# 4. Untuk tiap tabel, salin ke SQLite
for table in tables:
    print(f'Memproses tabel: {table}')
    df = con_duck.execute(f"SELECT * FROM {table}").df()
    df.to_sql(table, con_sqlite, if_exists='replace', index=False)

# 5. Tutup koneksi
con_duck.close()
con_sqlite.close()

print("✅ Konversi selesai!")

Memproses tabel: dim_card
Memproses tabel: dim_customer
Memproses tabel: dim_demographics
Memproses tabel: dim_time
Memproses tabel: fact_transactions
✅ Konversi selesai!

In [24]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('database_baru.sqlite')
cursor = conn.cursor()

def get_table_names(conn):
  cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
  return [row[0] for row in cursor.fetchall()]

table_names = get_table_names(conn)

for table_name in table_names:
  print(f"Table: {table_name}")
  query = f"SELECT * FROM {table_name} LIMIT 10"  # Membatasi hingga 10 baris
  df = pd.read_sql_query(query, conn)
  print(df)
  print("-" * 40)  # Pemisah antar tabel

Table: dim_card
   Card_Key Card_Category
0         1          Blue
1         2          Gold
2         3        Silver
3         4      Platinum
----------------------------------------
Table: dim_customer
   customer_key  CLIENTNUM     Attrition_Flag  Customer_Age  Months_on_book  \
0     768805383  768805383  Existing Customer            45              39
1     818770008  818770008  Existing Customer            49              44
2     713982108  713982108  Existing Customer            51              36
3     769911858  769911858  Existing Customer            40              34
4     709106358  709106358  Existing Customer            40              21
5     713061558  713061558  Existing Customer            44              36
6     810347208  810347208  Existing Customer            51              46
7     818906208  818906208  Existing Customer            32              27
8     710930508  710930508  Existing Customer            37              36
9     719661558  719661558  Existing Customer            48              36

            Start_Date End_Date  Is_Current
0  2022-01-01 00:00:00     None           1
1  2022-01-01 00:00:00     None           1
2  2022-01-01 00:00:00     None           1
3  2022-01-01 00:00:00     None           1
4  2022-01-01 00:00:00     None           1
5  2022-01-01 00:00:00     None           1
6  2022-01-01 00:00:00     None           1
7  2022-01-01 00:00:00     None           1
8  2022-01-01 00:00:00     None           1
9  2022-01-01 00:00:00     None           1
----------------------------------------
Table: dim_demographics
   demographic_key  Demographic_ID Gender  Dependent_count Education_Level  \
0                1               1      M                3     High School
1                2               2      F                5        Graduate
2                3               3      M                3        Graduate
3                4               4      F                4     High School
4                5               5      M                3      Uneducated
5                6               6      M                2        Graduate
6                7               7      M                4         Unknown
7                8               8      M                0     High School
8                9               9      M                3      Uneducated
9               10              10      M                2        Graduate

  Marital_Status Income_Category           Start_Date End_Date  Is_Current
0        Married     $60K - $80K  2022-01-01 00:00:00     None           1
1         Single  Less than $40K  2022-01-01 00:00:00     None           1
2        Married    $80K - $120K  2022-01-01 00:00:00     None           1
3        Unknown  Less than $40K  2022-01-01 00:00:00     None           1
4        Married     $60K - $80K  2022-01-01 00:00:00     None           1
5        Married     $40K - $60K  2022-01-01 00:00:00     None           1
6        Married         $120K +  2022-01-01 00:00:00     None           1
7        Unknown     $60K - $80K  2022-01-01 00:00:00     None           1
8         Single     $60K - $80K  2022-01-01 00:00:00     None           1
9         Single    $80K - $120K  2022-01-01 00:00:00     None           1
----------------------------------------
Table: dim_time
   Time_Key  Months_Inactive_12_mon  Contacts_Count_12_mon
0         1                       1                      3
1         2                       1                      2
2         3                       1                      0
3         4                       4                      1
4         5                       2                      2
5         6                       2                      0
6         7                       3                      3
7         8                       3                      2
8         9                       2                      3
9        10                       6                      0
----------------------------------------
Table: fact_transactions
   Transaction_ID  customer_key  Card_key  demographic_key  Time_Key  \
0               1     768805383         1                1         1
1               2     818770008         1                2         2
2               3     713982108         1                3         3
3               4     769911858         1                4         4
4               5     709106358         1                5         3
5               6     713061558         1                6         2
6               7     810347208         2                7         1
7               8     818906208         3                8         5
8               9     710930508         1                9         6
9              10     719661558         1               10         7

   Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  \
0       12691.0                  777          11914.0                  1.34
1        8256.0                  864           7392.0                  1.54
2        3418.0                    0           3418.0                  2.59
3        3313.0                 2517            796.0                  1.40
4        4716.0                    0           4716.0                  2.17
5        4010.0                 1247           2763.0                  1.38
6       34516.0                 2264          32252.0                  1.98
7       29081.0                 1396          27685.0                  2.20
8       22352.0                 2517          19835.0                  3.36
9       11656.0                 1677           9979.0                  1.52

   Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio
0             1144              42                 1.62                   0.06
1             1291              33                 3.71                   0.10
2             1887              20                 2.33                   0.00
3             1171              20                 2.33                   0.76
4              816              28                 2.50                   0.00
5             1088              24                 0.85                   0.31
6             1330              31                 0.72                   0.07
7             1538              36                 0.71                   0.05
8             1350              24                 1.18                   0.11
9             1441              32                 0.88                   0.14
----------------------------------------

In [30]:
import sqlite3

# Koneksi ke database
conn = sqlite3.connect("database_baru.sqlite")

# Hapus view & table jika sudah ada
conn.execute("DROP VIEW IF EXISTS v_avg_utilization_by_card;")
conn.execute("DROP VIEW IF EXISTS v_total_trans_by_income;")
conn.execute("DROP VIEW IF EXISTS v_avg_contacts_by_attrition;")
conn.execute("DROP VIEW IF EXISTS v_trans_by_customer_status;")
conn.execute("DROP TABLE IF EXISTS dm_analysis;")
conn.execute("DROP TABLE IF EXISTS dm_operational;")
conn.commit()

# Buat TABEL dm_analysis
conn.execute("""
CREATE TABLE dm_analysis AS
SELECT
  f.Transaction_ID,
  f.Credit_Limit,
  f.Total_Trans_Amt,
  f.Total_Trans_Ct,
  f.Total_Revolving_Bal,
  f.Avg_Utilization_Ratio,
  t.Months_Inactive_12_mon,
  t.Contacts_Count_12_mon,
  c.Customer_Age,
  c.Months_on_book,
  d.Card_Category,
  g.Gender,
  g.Education_Level,
  g.Income_Category
FROM fact_transactions f
JOIN dim_time t ON f.Time_Key = t.Time_Key
JOIN dim_customer c ON f.customer_key = c.customer_key
JOIN dim_card d ON f.Card_Key = d.Card_Key
JOIN dim_demographics g ON f.demographic_key = g.demographic_key;
""")
conn.commit()

# View 1
conn.execute("""
CREATE VIEW v_avg_utilization_by_card AS
SELECT
  Card_Category,
  AVG(Avg_Utilization_Ratio) AS avg_util_ratio
FROM dm_analysis
GROUP BY Card_Category;
""")

# View 2
conn.execute("""
CREATE VIEW v_total_trans_by_income AS
SELECT
  Income_Category,
  SUM(Total_Trans_Amt) AS total_transaction
FROM dm_analysis
GROUP BY Income_Category;
""")
conn.commit()

# Buat TABEL dm_operational
conn.execute("""
CREATE TABLE dm_operational AS
SELECT
  f.Transaction_ID,
  f.Time_Key,
  f.customer_key,
  f.Total_Trans_Ct,
  f.Total_Trans_Amt,
  f.Avg_Open_To_Buy,
  c.Attrition_Flag,
  t.Months_Inactive_12_mon,
  t.Contacts_Count_12_mon
FROM fact_transactions f
JOIN dim_customer c ON f.customer_key = c.customer_key
JOIN dim_time t ON f.Time_Key = t.Time_Key;
""")
conn.commit()

# View 3
conn.execute("""
CREATE VIEW v_avg_contacts_by_attrition AS
SELECT
  Attrition_Flag,
  AVG(Contacts_Count_12_mon) AS avg_contacts
FROM dm_operational
GROUP BY Attrition_Flag;
""")

# View 4
conn.execute("""
CREATE VIEW v_trans_by_customer_status AS
SELECT
  Attrition_Flag,
  AVG(Total_Trans_Ct) AS avg_transactions
FROM dm_operational
GROUP BY Attrition_Flag;
""")
conn.commit()

# Tutup koneksi
conn.close()

In [31]:
# prompt: coba buka tampilkan tabel

import sqlite3
import pandas as pd

# Koneksi ke database
conn = sqlite3.connect("database_baru.sqlite")

# Fungsi untuk menampilkan tabel
def show_table(table_name):
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql_query(query, conn)
    print(df)
    print("-" * 40)

# Tampilkan isi tabel dm_analysis
print("Isi tabel dm_analysis:")
show_table("dm_analysis")


# Tampilkan isi tabel dm_operational
print("Isi tabel dm_operational:")
show_table("dm_operational")


#Tampilkan view v_avg_utilization_by_card
print("Isi view v_avg_utilization_by_card:")
show_table("v_avg_utilization_by_card")

#Tampilkan view v_total_trans_by_income
print("Isi view v_total_trans_by_income:")
show_table("v_total_trans_by_income")

#Tampilkan view v_avg_contacts_by_attrition
print("Isi view v_avg_contacts_by_attrition:")
show_table("v_avg_contacts_by_attrition")

#Tampilkan view v_trans_by_customer_status
print("Isi view v_trans_by_customer_status:")
show_table("v_trans_by_customer_status")

conn.close()

Isi tabel dm_analysis:
       Transaction_ID  Credit_Limit  Total_Trans_Amt  Total_Trans_Ct  \
0                   1       12691.0             1144              42
1                   2        8256.0             1291              33
2                   3        3418.0             1887              20
3                   4        3313.0             1171              20
4                   5        4716.0              816              28
...               ...           ...              ...             ...
10122           10123        4003.0            15476             117
10123           10124        4277.0             8764              69
10124           10125        5409.0            10291              60
10125           10126        5281.0             8395              62
10126           10127       10388.0            10294              61

       Total_Revolving_Bal  Avg_Utilization_Ratio  Months_Inactive_12_mon  \
0                      777                   0.06                       1
1                      864                   0.10                       1
2                        0                   0.00                       1
3                     2517                   0.76                       4
4                        0                   0.00                       1
...                    ...                    ...                     ...
10122                 1851                   0.46                       2
10123                 2186                   0.51                       2
10124                    0                   0.00                       3
10125                    0                   0.00                       3
10126                 1961                   0.19                       2

       Contacts_Count_12_mon  Customer_Age  Months_on_book Card_Category  \
0                          3            45              39          Blue
1                          2            49              44          Blue
2                          0            51              36          Blue
3                          1            40              34          Blue
4                          0            40              21          Blue
...                      ...           ...             ...           ...
10122                      3            50              40          Blue
10123                      3            41              25          Blue
10124                      4            44              36          Blue
10125                      3            30              36          Blue
10126                      4            43              25        Silver

      Gender Education_Level Income_Category
0          M     High School     $60K - $80K
1          F        Graduate  Less than $40K
2          M        Graduate    $80K - $120K
3          F     High School  Less than $40K
4          M      Uneducated     $60K - $80K
...      ...             ...             ...
10122      M        Graduate     $40K - $60K
10123      M         Unknown     $40K - $60K
10124      F     High School  Less than $40K
10125      M        Graduate     $40K - $60K
10126      F        Graduate  Less than $40K

[10127 rows x 14 columns]
----------------------------------------
Isi tabel dm_operational:
       Transaction_ID  Time_Key  customer_key  Total_Trans_Ct  \
0                   1         1     768805383              42
1                   2         2     818770008              33
2                   3         3     713982108              20
3                   4         4     769911858              20
4                   5         3     709106358              28
...               ...       ...           ...             ...
10122           10123         9     772366833             117
10123           10124         9     710638233              69
10124           10125        24     716506083              60
10125           10126         7     717406983              62
10126           10127        27     714337233              61

       Total_Trans_Amt  Avg_Open_To_Buy     Attrition_Flag  \
0                 1144          11914.0  Existing Customer
1                 1291           7392.0  Existing Customer
2                 1887           3418.0  Existing Customer
3                 1171            796.0  Existing Customer
4                  816           4716.0  Existing Customer
...                ...              ...                ...
10122            15476           2152.0  Existing Customer
10123             8764           2091.0  Attrited Customer
10124            10291           5409.0  Attrited Customer
10125             8395           5281.0  Attrited Customer
10126            10294           8427.0  Attrited Customer

       Months_Inactive_12_mon  Contacts_Count_12_mon
0                           1                      3
1                           1                      2
2                           1                      0
3                           4                      1
4                           1                      0
...                       ...                    ...
10122                       2                      3
10123                       2                      3
10124                       3                      4
10125                       3                      3
10126                       2                      4

[10127 rows x 9 columns]
----------------------------------------
Isi view v_avg_utilization_by_card:
  Card_Category  avg_util_ratio
0          Blue        0.290835
1          Gold        0.056983
2      Platinum        0.043500
3        Silver        0.057207
----------------------------------------
Isi view v_total_trans_by_income:
  Income_Category  total_transaction
0         $120K +            3292923
1     $40K - $60K            7886058
2     $60K - $80K            6239899
3    $80K - $120K            6881344
4  Less than $40K           15538139
5         Unknown            4761819
----------------------------------------
Isi view v_avg_contacts_by_attrition:
      Attrition_Flag  avg_contacts
0  Attrited Customer      2.972342
1  Existing Customer      2.356353
----------------------------------------
Isi view v_trans_by_customer_status:
      Attrition_Flag  avg_transactions
0  Attrited Customer         44.933620
1  Existing Customer         68.672588
----------------------------------------