# Milestone 1 DWIB

## Anggota Kelompok

Selvianisa Cahya Mukti             		       24/545982/PPA/06831   
Yudy Pratama Fanggidae                       24/547599/PPA/06903  
Laurenzius Julio Anreaja 	                   24/548311/PPA/06926

## Bagian 1: Data Modeling untuk Data Warehouse

### 1.1 Dokumen Kebutuhan Bisnis


#### 1.1.1 Deskripsi Bisnis

Sebuah bank menghadapi tantangan dengan meningkatnya jumlah pelanggan yang meninggalkan layanan kartu kredit mereka. Hal ini berdampak pada penurunan pendapatan dan loyalitas pelanggan. Manajemen ingin memiliki sistem prediksi *churn* agar dapat mengidentifikasi pelanggan yang berisiko meninggalkan layanan dan mengambil langkah proaktif untuk mempertahankan mereka melalui peningkatan layanan atau penawaran khusus.

---

#### 1.1.2 Tujuan Analitis dan Pertanyaan Bisnis

##### Tujuan Analitis:
- Memprediksi pelanggan yang kemungkinan besar akan *churn*.
- Mengidentifikasi faktor-faktor utama yang menyebabkan pelanggan meninggalkan layanan.
- Memberikan wawasan kepada tim manajemen tentang pola perilaku pelanggan.
- Mengembangkan strategi retensi yang lebih efektif.

##### Pertanyaan Bisnis:
1. Apa faktor utama yang menyebabkan pelanggan *churn*?
2. Bagaimana karakteristik pelanggan yang *churn* dibandingkan dengan yang tetap?
3. Seberapa akurat model prediksi *churn* yang dapat dikembangkan?
4. Apa tindakan terbaik yang dapat diambil untuk mengurangi *churn*?
5. Bagaimana tren *churn* dalam beberapa periode terakhir?

#### 1.1.3 Sumber Data yang Tersedia

Dataset yang tersedia berisi informasi tentang pelanggan kartu kredit bank, termasuk:

- **Informasi Demografis**: Usia, status perkawinan, jumlah tanggungan.
- **Riwayat Transaksi**: Total transaksi dalam setahun terakhir, frekuensi transaksi.
- **Detail Rekening**: Saldo rata-rata, total limit kredit, total pembayaran.
- **Status Keanggotaan**: Durasi menjadi pelanggan, apakah memiliki kartu premium.
- **Variabel Target**: Apakah pelanggan *churn* atau tidak.

---

#### 1.1.4 Indikator Kinerja Utama (KPI)

Untuk mengukur dan memantau *churn*, beberapa KPI utama yang harus diperhatikan:

- **Customer Churn Rate**: Persentase pelanggan yang meninggalkan layanan dalam periode tertentu.
- **Customer Lifetime Value (CLV)**: Perkiraan nilai pelanggan selama masa aktif mereka di bank.
- **Monthly Active Users (MAU)**: Jumlah pelanggan yang aktif menggunakan kartu kredit setiap bulan.
- **Average Transaction Value**: Rata-rata nilai transaksi pelanggan.
- **Retention Rate**: Persentase pelanggan yang tetap menggunakan layanan dari waktu ke waktu.
- **Customer Satisfaction Score (CSAT)**: Tingkat kepuasan pelanggan berdasarkan survei dan umpan balik.

---

#### 1.1.5 Jenis Laporan dan Analisis yang Dibutuhkan

##### Jenis Laporan:
- **Laporan Churn Bulanan**: Menampilkan jumlah dan persentase pelanggan yang *churn* setiap bulan.
- **Analisis Segmentasi Pelanggan**: Klasifikasi pelanggan berdasarkan tingkat risiko *churn*.
- **Laporan Perbandingan Pelanggan Churn vs Non-Churn**: Mengidentifikasi perbedaan utama antara kedua kelompok.
- **Laporan Efektivitas Strategi Retensi**: Mengukur dampak dari intervensi yang dilakukan.

##### Jenis Analisis:
- **Analisis Deskriptif**: Menganalisis karakteristik pelanggan yang *churn*.
- **Analisis Prediktif**: Menggunakan model *machine learning* untuk memprediksi *churn*.
- **Analisis Kohort**: Melihat tren *churn* berdasarkan kelompok pelanggan tertentu.
- **Analisis Korelasi**: Menentukan faktor mana yang memiliki hubungan kuat dengan *churn*.

### 1.2 Desain Skema Data Warehouse

<img src="https://drive.google.com/uc?export=view&id=1l5EPD8KUvCzEtyxnlewVekZ__WE4DdcI" width="600"/>

#### 1.2.1 Desain Skema Data Warehouse

Saya memilih **Star Schema** karena:

- Struktur dataset lebih cocok untuk analisis perilaku pelanggan dan transaksi.
- *Star Schema* lebih mudah untuk dipahami dan dioptimalkan dalam query analisis.
- Meminimalkan kompleksitas relasi dibandingkan dengan *Snowflake Schema*.


#### 1.2.2 Struktur Skema Data Warehouse

Tabel Fakta:  
**Fact_Transactions** (Tabel utama yang menyimpan transaksi pelanggan)  
- Transaction_ID (PK)  
- customer_key (FK ke Dim_Customer)  
- Card_Key (FK ke Dim_Card)  
- demographic_key (FK ke Dim_Demographics)  
- Time_Key (FK ke Dim_Time)  
- Credit_Limit (FLOAT)  
- Total_Revolving_Bal (INT)  
- Avg_Open_To_Buy (FLOAT)  
- Total_Amt_Chng_Q4_Q1 (FLOAT)  
- Total_Trans_Amt (INT)  
- Total_Trans_Ct (INT)  
- Total_Ct_Chng_Q4_Q1 (FLOAT)  
- Avg_Utilization_Ratio (FLOAT)  

Tabel Dimensi:

**Dim_Customer** (Menyimpan informasi pelanggan)  
- customer_key (PK)  
- CLIENTNUM (INT)  
- Attrition_Flag (VARCHAR)  
- Customer_Age (INT)  
- Months_on_book (INT)  
- Start_Date (TIMESTAMP)  
- End_Date (TIMESTAMP)  
- Is_Current (BOOLEAN)  

**Dim_Card** (Menyimpan informasi kartu kredit)  
- Card_Key (PK)  
- Card_Category (VARCHAR)  

**Dim_Demographics** (Menyimpan informasi demografi pelanggan)  
- demographic_key (PK)  
- Demographic_ID (INT)  
- Gender (VARCHAR)  
- Dependent_count (INT)  
- Education_Level (VARCHAR)  
- Marital_Status (VARCHAR)  
- Income_Category (VARCHAR)  
- Start_Date (TIMESTAMP)  
- End_Date (TIMESTAMP)  
- Is_Current (BOOLEAN)  

**Dim_Time** (Menyimpan informasi waktu pelanggan aktif)  
- Time_Key (PK)  
- Months_Inactive_12_mon (INT)  
- Contacts_Count_12_mon (INT)  

#### 1.2.3 Alasan Pemilihan Struktur

Saya memilih **Star Schema** dalam desain skema data warehouse ini karena alasan berikut:

- **Struktur yang Sederhana dan Mudah Dipahami**  
  Star schema memiliki hubungan langsung antara tabel fakta dan tabel dimensi, sehingga memudahkan pemahaman oleh analis bisnis maupun tim teknis.

- **Kinerja Query yang Optimal**  
  Desain ini meminimalkan jumlah join yang kompleks, sehingga mempercepat eksekusi query, terutama untuk kebutuhan OLAP (Online Analytical Processing).

- **Mendukung Proses Analitik Multidimensi**  
  Star schema sangat cocok untuk menganalisis perilaku pelanggan, demografi, dan pola transaksi dengan fleksibilitas tinggi dalam agregasi dan filter.

- **Kesesuaian dengan Penerapan Slowly Changing Dimension (SCD)**  
  Tabel dimensi seperti `dim_customer` dan `dim_demographics` memiliki atribut `Start_Date`, `End_Date`, dan `Is_Current` yang dirancang untuk mendukung implementasi **SCD Type 2**.  
  Dengan begitu, sistem dapat menyimpan histori perubahan data pelanggan dan demografi seiring waktu tanpa menimpa data sebelumnya. Hal ini penting untuk mempertahankan jejak historis demi keperluan audit dan analitik longitudinal.

- **Konsistensi dan Skalabilitas**  
  Desain ini memberikan fleksibilitas untuk menambahkan tabel dimensi baru atau memperluas data transaksi tanpa mengubah struktur dasar skema.

#### 1.2.4 Relasi dalam Skema

Relasi dalam skema ini dirancang dengan pendekatan **Star Schema**, di mana setiap tabel dimensi terhubung langsung ke tabel fakta (`Fact_Transactions`) menggunakan **foreign key (FK)**. Berikut penjelasan relasi antar tabel:

- **Relasi antara `Fact_Transactions` dan `Dim_Customer`**
  - `Fact_Transactions.customer_key` → `Dim_Customer.customer_key`
  - Menunjukkan bahwa setiap transaksi dilakukan oleh satu pelanggan tertentu.
  - `Dim_Customer` mendukung **SCD Type 2** dengan atribut `Start_Date`, `End_Date`, dan `Is_Current` untuk menyimpan riwayat perubahan data pelanggan dari waktu ke waktu.

- **Relasi antara `Fact_Transactions` dan `Dim_Card`**
  - `Fact_Transactions.Card_Key` → `Dim_Card.Card_Key`
  - Menghubungkan transaksi dengan kategori kartu kredit yang digunakan.

- **Relasi antara `Fact_Transactions` dan `Dim_Demographics`**
  - `Fact_Transactions.demographic_key` → `Dim_Demographics.demographic_key`
  - Menunjukkan karakteristik demografis pelanggan saat transaksi terjadi.
  - Sama seperti `Dim_Customer`, tabel ini juga mendukung **SCD Type 2** melalui atribut tanggal dan status aktif (`Is_Current`), agar histori perubahan seperti status pernikahan atau tingkat pendidikan dapat tercatat dengan baik.

- **Relasi antara `Fact_Transactions` dan `Dim_Time`**
  - `Fact_Transactions.Time_Key` → `Dim_Time.Time_Key`
  - Menyimpan informasi waktu terkait perilaku pelanggan, seperti bulan tidak aktif dan jumlah kontak dalam 12 bulan terakhir.

Semua relasi merupakan **One-to-Many (1:N)** dari dimensi ke fakta:
- Satu entri pada tabel dimensi dapat muncul dalam banyak entri pada tabel fakta.
- Desain ini memungkinkan analisis transaksi berdasarkan waktu, pelanggan, demografi, maupun jenis kartu.

### 1.3 Script DDL untuk DuckDB

Import library

In [128]:
import duckdb
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os
import urllib.request
import zipfile
import io

Koneksi ke DuckDB

In [129]:
conn = duckdb.connect(database='database.duckdb')
print("Terhubung ke DuckDB!")

Terhubung ke DuckDB!

In [130]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [131]:
# Menghapus semua tabel jika ada
conn.execute("DROP TABLE IF EXISTS fact_transactions;")
conn.execute("DROP TABLE IF EXISTS dim_customer;")
conn.execute("DROP TABLE IF EXISTS dim_card;")
conn.execute("DROP TABLE IF EXISTS dim_demographics;")
conn.execute("DROP TABLE IF EXISTS dim_time;")

# Menghapus semua view jika ada
conn.execute("DROP VIEW IF EXISTS df_dim_customer;")
conn.execute("DROP VIEW IF EXISTS df_dim_card;")
conn.execute("DROP VIEW IF EXISTS df_dim_demographics;")
conn.execute("DROP VIEW IF EXISTS df_dim_time;")

# Mengecek daftar tabel dalam database setelah dihapus
print(conn.execute("SHOW TABLES;").fetchdf())

Empty DataFrame
Columns: [name]
Index: []

**Script DDL untuk DuckDB**

In [132]:

# Tabel Dimensi Pelanggan dengan dukungan SCD Type 2
conn.execute("""
CREATE OR REPLACE TABLE dim_customer (
    customer_key INT PRIMARY KEY,
    CLIENTNUM INT NOT NULL,
    Attrition_Flag VARCHAR,
    Customer_Age INT,
    Months_on_book INT,
    Start_Date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    End_Date TIMESTAMP,
    Is_Current BOOLEAN DEFAULT TRUE
);
""")

# Tabel Dimensi Kartu (statis)
conn.execute("""
CREATE OR REPLACE TABLE dim_card (
    Card_Key INT PRIMARY KEY,
    Card_Category VARCHAR
);
""")

# Tabel Dimensi Demografi dengan opsi untuk SCD Type 2
conn.execute("""
CREATE OR REPLACE TABLE dim_demographics (
    demographic_key INT PRIMARY KEY,
    Demographic_ID INT NOT NULL,
    Gender VARCHAR,
    Dependent_count INT,
    Education_Level VARCHAR,
    Marital_Status VARCHAR,
    Income_Category VARCHAR,
    Start_Date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    End_Date TIMESTAMP,
    Is_Current BOOLEAN DEFAULT TRUE
);
""")

# Tabel Dimensi Waktu (statis)
conn.execute("""
CREATE OR REPLACE TABLE dim_time (
    Time_Key INT PRIMARY KEY,
    Months_Inactive_12_mon INT,
    Contacts_Count_12_mon INT
);
""")

# Tabel Fakta Transaksi (mendukung ETL Inkremental)
conn.execute("""
CREATE OR REPLACE TABLE fact_transactions (
    Transaction_ID INT PRIMARY KEY,
    customer_key INT,
    Card_key INT,
    demographic_key INT,
    Time_Key INT,
    Credit_Limit DECIMAL(10,2),
    Total_Revolving_Bal INTEGER,
    Avg_Open_To_Buy DECIMAL(10,2),
    Total_Amt_Chng_Q4_Q1 DECIMAL(10,2),
    Total_Trans_Amt INTEGER,
    Total_Trans_Ct INTEGER,
    Total_Ct_Chng_Q4_Q1 DECIMAL(10,2),
    Avg_Utilization_Ratio DECIMAL(10,2),

    FOREIGN KEY (customer_key) REFERENCES dim_customer(customer_key),
    FOREIGN KEY (Card_Key) REFERENCES dim_card(Card_Key),
    FOREIGN KEY (demographic_key) REFERENCES dim_demographics(demographic_key),
    FOREIGN KEY (Time_Key) REFERENCES dim_time(Time_Key)

);
""")

# Mengecek daftar tabel dalam database
print(conn.execute("SHOW TABLES;").fetchdf())

                name
0           dim_card
1       dim_customer
2   dim_demographics
3           dim_time
4  fact_transactions

## 2. ETL (Extract, Transform, Load) Process <br>
<br>

### 2.1 Dataset Sumber

#### 2.1.1 Deskripsi dan Sumber Dataset

**Nama Dataset:** Credit Card Customers  
**Sumber Dataset:** Kaggle  
**Link:** [https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers](https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers)

**❖ Struktur Data (Skema dan Format)**  
Dataset ini memiliki total **23 fitur (kolom)**, yaitu:

1. **CLIENTNUM** – Nomor unik identifikasi pelanggan (numerik)  
2. **Attrition_Flag** – Status pelanggan: Existing Customer atau Attrited Customer (kategorikal)  
3. **Customer_Age** – Usia pelanggan dalam tahun (numerik)  
4. **Gender** – Jenis kelamin pelanggan ('M' = laki-laki, 'F' = perempuan) (kategorikal)  
5. **Dependent_count** – Jumlah tanggungan pelanggan (numerik)  
6. **Education_Level** – Tingkat pendidikan pelanggan (kategorikal)  
7. **Marital_Status** – Status pernikahan pelanggan (kategorikal)  
8. **Income_Category** – Kategori pendapatan tahunan pelanggan (kategorikal)  
9. **Card_Category** – Jenis kartu kredit yang dimiliki pelanggan (kategorikal)  
10. **Months_on_book** – Lama hubungan pelanggan dengan bank dalam bulan (numerik)  
11. **Total_Relationship_Count** – Jumlah total produk atau layanan bank yang dimiliki pelanggan (numerik)  
12. **Months_Inactive_12_mon** – Jumlah bulan tidak aktif dalam 12 bulan terakhir (numerik)  
13. **Contacts_Count_12_mon** – Jumlah kontak/interaksi dengan pelanggan dalam 12 bulan terakhir (numerik)  
14. **Credit_Limit** – Batas kredit kartu pelanggan (numerik)  
15. **Total_Revolving_Bal** – Total saldo bergulir pada kartu kredit (numerik)  
16. **Avg_Open_To_Buy** – Rata-rata jumlah kredit yang tersedia untuk digunakan (numerik)  
17. **Total_Amt_Chng_Q4_Q1** – Perubahan jumlah transaksi antara Q4 dan Q1 (numerik)  
18. **Total_Trans_Amt** – Total jumlah transaksi dalam 12 bulan terakhir (numerik)  
19. **Total_Trans_Ct** – Total jumlah transaksi dalam 12 bulan terakhir (numerik)  
20. **Total_Ct_Chng_Q4_Q1** – Perubahan jumlah transaksi antara Q4 dan Q1 (numerik)  
21. **Avg_Utilization_Ratio** – Rasio rata-rata pemanfaatan kredit pelanggan (numerik)  
22. **Naive_Bayes_Classifier_1** – Prediksi churn pelanggan berdasarkan model Naive Bayes (numerik)  
23. **Naive_Bayes_Classifier_2** – Prediksi churn kedua dari model Naive Bayes (numerik)  

Dataset ini cocok digunakan untuk:  
- Analisis perilaku pelanggan  
- Prediksi kemungkinan *churn*  
- Perancangan strategi retensi pelanggan  
- Segmentasi pelanggan  
- Analisis penggunaan kartu kredit  

**Format Data:** CSV (Comma Separated Values) – format standar untuk penyimpanan data tabular.  
**Volume Data:** Terdapat **10.127 record**, masing-masing mewakili satu pelanggan kartu kredit.

### 2.2 Script ETL dengan Python/pandas

In [ ]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"laurenzjuan","key":"909ab406ffdf0cd705ff9ec2d5fbb6a0"}'}

In [ ]:
!mkdir -p ~/.kaggle
!mv kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

**Unduh Dataset**

In [ ]:
!kaggle datasets download -d sakshigoyal7/credit-card-customers

Dataset URL: https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers
License(s): CC0-1.0

In [ ]:
import os

drive_path = "/content/drive/My Drive/KaggleDatasets_DWIB"
os.makedirs(drive_path, exist_ok=True)

In [ ]:
!unzip credit-card-customers.zip -d "/content/drive/My Drive/KaggleDatasets_DWIB"

Archive:  credit-card-customers.zip
  inflating: /content/drive/My Drive/KaggleDatasets_DWIB/BankChurners.csv

In [ ]:
import pandas as pd

file_path = "/content/drive/My Drive/KaggleDatasets_DWIB/BankChurners.csv"
df = pd.read_csv(file_path)
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

**Extract langsung dengan perantara drive kami tanpa harus mendownload datanya dari kaggle**

In [ ]:
import gdown
import pandas as pd

# ID file Google Drive
file_id = "1-1HKOIUwBTI6GFltyVU3bsQ0xJu06cUk"
output_path = "BankChurners.csv"

# Download file dari Google Drive
gdown.download(f"https://drive.google.com/uc?id={file_id}", output_path, quiet=False)

# Load dataset ke pandas
df = pd.read_csv(output_path)

# Tampilkan 5 data teratas
df.head()

Downloading...
From: https://drive.google.com/uc?id=1-1HKOIUwBTI6GFltyVU3bsQ0xJu06cUk
To: /content/BankChurners.csv
100%|██████████| 1.51M/1.51M [00:00<00:00, 12.8MB/s]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

## 4. Perancangan Model Data Warehouse<br>
<br>
Kita akan menerapkan model Star Schema untuk data warehouse retail kita:

## 5. Proses ETL (Extract, Transform, Load)<br>
<br>
Sekarang kita implementasikan proses ETL yang komprehensif:

### 5.1 Extract - Mengambil Data dari Sumber

Ekstrak data dari sumber

In [ ]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

### 5.2 Transform - Membersihkan dan Mengubah Data<br>
<br>
Kita implementasikan dua pendekatan transformasi:<br>
1. Menggunakan pandas (Python)<br>
2. Menggunakan SQL di DuckDB

In[8]:

In [ ]:
# Remove unnecessary columns
df = df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
                      'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
             errors='ignore')

In [ ]:
# Check missing value atau duplicate data
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [ ]:
# Check duplicated data
df.duplicated().sum()

np.int64(0)

In [ ]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

**Dimensi Customer**

In [ ]:
# Create Dim_Customer
# Transformasi data untuk Dim Customer
dim_customer = df[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book']].drop_duplicates().reset_index(drop=True)

# Generate random Start_Date between 2018 and 2023
start_date_range = pd.to_datetime("2018-01-01")
end_date_range = pd.to_datetime("2023-12-31")

dim_customer['Start_Date'] = pd.to_datetime(np.random.randint(start_date_range.value // 10**9,
                                                              end_date_range.value // 10**9,
                                                              size=len(dim_customer)), unit='s')

# Generate End_Date only for Attrited Customers
dim_customer['End_Date'] = np.where(
    dim_customer['Attrition_Flag'] == 'Attrited Customer',
    dim_customer['Start_Date'] + pd.to_timedelta(np.random.randint(180, 730, size=len(dim_customer)), unit='D'),
    None
)

# Convert End_Date to timestamp format where applicable
dim_customer['End_Date'] = pd.to_datetime(dim_customer['End_Date'])

# Update Is_Current to False if Attrition_Flag is "Attrited Customer"
dim_customer['Is_Current'] = dim_customer['Attrition_Flag'] != 'Attrited Customer'

dim_customer[dim_customer['Attrition_Flag'] == 'Attrited Customer'].head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Months_on_book,Start_Date,End_Date,Is_Current
21,708508758,Attrited Customer,62,49,2021-12-21 18:23:31,2023-11-28 18:23:31,False
39,708300483,Attrited Customer,66,56,2022-11-07 18:55:54,2023-11-27 18:55:54,False
51,779471883,Attrited Customer,54,40,2018-11-05 14:20:38,2020-04-13 14:20:38,False
54,714374133,Attrited Customer,56,36,2018-02-20 12:50:08,2019-03-25 12:50:08,False
61,712030833,Attrited Customer,48,35,2018-05-08 14:11:18,2019-11-25 14:11:18,False

**fixed**

In [ ]:
dim_customer = df[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book']].drop_duplicates().reset_index(drop=True)

dim_customer['customer_key'] = dim_customer['CLIENTNUM']  # Bisa disamakan dengan CLIENTNUM
dim_customer['Start_Date'] = '2022-01-01'  # Tanggal berlaku
dim_customer['End_Date'] = None  # Belum kedaluwarsa
dim_customer['Is_Current'] = True  # Status aktif

# Menyesuaikan urutan kolom dengan struktur tabel SQL
dim_customer = dim_customer[[
    'customer_key',
    'CLIENTNUM',
    'Attrition_Flag',
    'Customer_Age',
    'Months_on_book',
    'Start_Date',
    'End_Date',
    'Is_Current'
]]


dim_customer[dim_customer['Attrition_Flag'] == 'Attrited Customer'].head()

,customer_key,CLIENTNUM,Attrition_Flag,Customer_Age,Months_on_book,Start_Date,End_Date,Is_Current
21,708508758,708508758,Attrited Customer,62,49,2022-01-01,None,True
39,708300483,708300483,Attrited Customer,66,56,2022-01-01,None,True
51,779471883,779471883,Attrited Customer,54,40,2022-01-01,None,True
54,714374133,714374133,Attrited Customer,56,36,2022-01-01,None,True
61,712030833,712030833,Attrited Customer,48,35,2022-01-01,None,True

In [ ]:
dim_customer.nunique()

customer_key      10127
CLIENTNUM         10127
Attrition_Flag        2
Customer_Age         45
Months_on_book       44
Start_Date            1
End_Date              0
Is_Current            1
dtype: int64

In [ ]:
# Dim Card
dim_card = df[['Card_Category']].drop_duplicates().reset_index(drop=True)
dim_card['Card_Key'] = range(1, len(dim_card) + 1)

dim_card = dim_card[[
    'Card_Key',
    'Card_Category',
]]
dim_card.head()

   Card_Key Card_Category
0         1          Blue
1         2          Gold
2         3        Silver
3         4      Platinum

In [ ]:

dim_time = df[['Months_Inactive_12_mon', 'Contacts_Count_12_mon']].drop_duplicates().reset_index(drop=True)
dim_time['Time_Key'] = range(1, len(dim_time) + 1)

# Menyesuaikan urutan kolom dengan struktur tabel SQL
dim_time = dim_time[[
    'Time_Key',
    'Months_Inactive_12_mon',
    'Contacts_Count_12_mon'
]]

dim_time.head()

   Time_Key  Months_Inactive_12_mon  Contacts_Count_12_mon
0         1                       1                      3
1         2                       1                      2
2         3                       1                      0
3         4                       4                      1
4         5                       2                      2

In [ ]:
# Dim Demographics
dim_demographics = df[['Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category']].drop_duplicates().reset_index(drop=True)
dim_demographics['Demographic_ID'] = range(1, len(dim_demographics) + 1)
dim_demographics.head()

,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Demographic_ID
0,M,3,High School,Married,$60K - $80K,1
1,F,5,Graduate,Single,Less than $40K,2
2,M,3,Graduate,Married,$80K - $120K,3
3,F,4,High School,Unknown,Less than $40K,4
4,M,3,Uneducated,Married,$60K - $80K,5

**Fixed**

In [ ]:
dim_demographics = df[[
    'Gender',
    'Dependent_count',
    'Education_Level',
    'Marital_Status',
    'Income_Category'
]].drop_duplicates().reset_index(drop=True)

# Tambahkan auto-increment untuk demographic_key
dim_demographics['demographic_key'] = dim_demographics.index + 1

# Demographic_ID disamakan dengan demographic_key
dim_demographics['Demographic_ID'] = dim_demographics['demographic_key']

# Tambahkan kolom SCD
dim_demographics['Start_Date'] = '2022-01-01'
dim_demographics['End_Date'] = None
dim_demographics['Is_Current'] = True

# Atur urutan kolom sesuai definisi tabel
dim_demographics = dim_demographics[[
    'demographic_key',
    'Demographic_ID',
    'Gender',
    'Dependent_count',
    'Education_Level',
    'Marital_Status',
    'Income_Category',
    'Start_Date',
    'End_Date',
    'Is_Current'
]]

dim_demographics.head()

,demographic_key,Demographic_ID,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Start_Date,End_Date,Is_Current
0,1,1,M,3,High School,Married,$60K - $80K,2022-01-01,None,True
1,2,2,F,5,Graduate,Single,Less than $40K,2022-01-01,None,True
2,3,3,M,3,Graduate,Married,$80K - $120K,2022-01-01,None,True
3,4,4,F,4,High School,Unknown,Less than $40K,2022-01-01,None,True
4,5,5,M,3,Uneducated,Married,$60K - $80K,2022-01-01,None,True

In [ ]:
fact_transactions = (
    df
    .merge(dim_customer, on=['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book'], how='left')
    .merge(dim_card, on=['Card_Category'], how='left')
    .merge(dim_demographics, on=['Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category'], how='left')
    .merge(dim_time, on=['Months_Inactive_12_mon', 'Contacts_Count_12_mon'], how='left')
)

# Pastikan kolom dari dimensi match dengan foreign key di tabel fakta
fact_transactions = fact_transactions[[
    'customer_key',          # dari dim_customer
    'Card_Key',              # dari dim_card
    'demographic_key',       # dari dim_demographics
    'Time_Key',              # dari dim_time
    'Credit_Limit',
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio'
]].reset_index(drop=True)

# Tambahkan primary key Transaction_ID
fact_transactions['Transaction_ID'] = range(1, len(fact_transactions) + 1)

# Susun ulang kolom agar Transaction_ID di awal sesuai definisi SQL
fact_transactions = fact_transactions[[
    'Transaction_ID',
    'customer_key',
    'Card_Key',
    'demographic_key',
    'Time_Key',
    'Credit_Limit',
    'Total_Revolving_Bal',
    'Avg_Open_To_Buy',
    'Total_Amt_Chng_Q4_Q1',
    'Total_Trans_Amt',
    'Total_Trans_Ct',
    'Total_Ct_Chng_Q4_Q1',
    'Avg_Utilization_Ratio'
]]

# Tampilkan preview
fact_transactions.head()

,Transaction_ID,customer_key,Card_Key,demographic_key,Time_Key,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,768805383,1,1,1,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,2,818770008,1,2,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,3,713982108,1,3,3,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,4,769911858,1,4,4,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,5,709106358,1,5,3,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [ ]:
# prompt: Buat loadnya dari pandas dataframe ke data warehouse

# Load data ke tabel dim_customer
conn.execute("INSERT INTO dim_customer SELECT * FROM dim_customer;") # replace with your table name

# Load data ke tabel dim_card
conn.execute("INSERT INTO dim_card SELECT * FROM dim_card;") # replace with your table name


# Load data ke tabel dim_demographics
conn.execute("INSERT INTO dim_demographics SELECT * FROM dim_demographics;") # replace with your table name


# Load data ke tabel dim_time
conn.execute("INSERT INTO dim_time SELECT * FROM dim_time;") # replace with your table name


# Load data ke tabel fact_transactions
conn.execute("INSERT INTO fact_transactions SELECT * FROM fact_transactions;") # replace with your table name

In [ ]:
# Reorder columns to match schema
df_dim_customer = dim_customer[['customer_key', 'CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book', 'Start_Date', 'End_Date', 'Is_Current']]
df_dim_card = dim_card[['Card_ID', 'Card_Category']]
df_dim_demographics = dim_demographics[['demographic_key', 'Demographic_ID', 'Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Start_Date', 'End_Date', 'Is_Current']]
df_dim_time = dim_time[['Time_ID', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon']]
df_fact_transactions = fact_transactions[['Transaction_ID', 'customer_key', 'Card_ID', 'demographic_key', 'Time_ID',
                                          'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy',
                                          'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
                                          'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']]

**Fixed**

In [ ]:
def load_from_pandas(dim_customer, dim_card, dim_demographics, dim_time, fact_transactions):
    """Memuat data dari pandas DataFrame ke data warehouse"""

    # 1. Muat dimensi pelanggan
    conn.execute("DELETE FROM dim_customer")  # Bersihkan tabel sasaran
    # Use duckdb's register function and then insert from the registered relation
    conn.register('df_dim_customer', dim_customer)
    conn.execute("INSERT INTO dim_customer SELECT * FROM df_dim_customer")

    # 2. Muat dimensi kartu
    conn.execute("DELETE FROM dim_card")  # Bersihkan tabel sasaran
    conn.register('df_dim_card', dim_card) # Register the dataframe as a relation
    conn.execute("INSERT INTO dim_card SELECT * FROM df_dim_card") # Insert from the registered relation


    # 3. Muat dimensi demografi
    conn.execute("DELETE FROM dim_demographics")  # Bersihkan tabel sasaran
    conn.register('df_dim_demographics', dim_demographics)
    conn.execute("INSERT INTO dim_demographics SELECT * FROM df_dim_demographics")

    # 4. Muat dimensi waktu
    conn.execute("DELETE FROM dim_time")  # Bersihkan tabel sasaran
    conn.register('df_dim_time', dim_time)
    conn.execute("INSERT INTO dim_time SELECT * FROM df_dim_time")

    # 5. Buat tabel sementara untuk fakta transaksi
    conn.register('df_fact_transactions', fact_transactions)
    conn.execute("CREATE OR REPLACE TABLE temp_fact_transactions AS SELECT * FROM df_fact_transactions")

    # 6. Muat fakta transaksi setelah pemetaan kunci
    conn.execute("""
    INSERT INTO fact_transactions
    SELECT
        f.Transaction_ID,
        c.customer_key,
        cr.Card_Key,
        d.demographic_key,
        t.Time_Key,
        f.Credit_Limit,
        f.Total_Revolving_Bal,
        f.Avg_Open_To_Buy,
        f.Total_Amt_Chng_Q4_Q1,
        f.Total_Trans_Amt,
        f.Total_Trans_Ct,
        f.Total_Ct_Chng_Q4_Q1,
        f.Avg_Utilization_Ratio
    FROM temp_fact_transactions f
    JOIN dim_customer c ON f.customer_key = c.customer_key
    JOIN dim_card cr ON f.Card_Key = cr.Card_Key
    JOIN dim_demographics d ON f.demographic_key = d.demographic_key
    JOIN dim_time t ON f.Time_Key = t.Time_Key
    """)

    # 7. Hapus tabel sementara
    conn.execute("DROP TABLE temp_fact_transactions")

    print("✅ Data dari Pandas berhasil dimuat ke data warehouse dengan pemetaan kunci yang sesuai!")
# Menjalankan fungsi untuk memuat data ke warehouse
load_from_pandas(dim_customer, dim_card, dim_demographics, dim_time, fact_transactions)

✅ Data dari Pandas berhasil dimuat ke data warehouse dengan pemetaan kunci yang sesuai!

In [ ]:
conn.execute("SELECT * FROM dim_customer").df()

,customer_key,CLIENTNUM,Attrition_Flag,Customer_Age,Months_on_book,Start_Date,End_Date,Is_Current
0,768805383,768805383,Existing Customer,45,39,2022-01-01,NaT,True
1,818770008,818770008,Existing Customer,49,44,2022-01-01,NaT,True
2,713982108,713982108,Existing Customer,51,36,2022-01-01,NaT,True
3,769911858,769911858,Existing Customer,40,34,2022-01-01,NaT,True
4,709106358,709106358,Existing Customer,40,21,2022-01-01,NaT,True
...,...,...,...,...,...,...,...,...
10122,772366833,772366833,Existing Customer,50,40,2022-01-01,NaT,True
10123,710638233,710638233,Attrited Customer,41,25,2022-01-01,NaT,True
10124,716506083,716506083,Attrited Customer,44,36,2022-01-01,NaT,True
10125,717406983,717406983,Attrited Customer,30,36,2022-01-01,NaT,True
10126,714337233,714337233,Attrited Customer,43,25,2022-01-01,NaT,True

In [ ]:
customer_count = conn.execute("SELECT COUNT(*) FROM dim_customer").fetchone()[0]
card_count = conn.execute("SELECT COUNT(*) FROM dim_card").fetchone()[0]
demo_count = conn.execute("SELECT COUNT(*) FROM dim_demographics").fetchone()[0]
time_count = conn.execute("SELECT COUNT(*) FROM dim_time").fetchone()[0]
fact_count = conn.execute("SELECT COUNT(*) FROM fact_transactions").fetchone()[0]


print("✅ Data dari pandas berhasil dimuat ke data warehouse:")
print(f"- Dimensi Customer     : {customer_count} baris")
print(f"- Dimensi Card         : {card_count} baris")
print(f"- Dimensi Demographics : {demo_count} baris")
print(f"- Dimensi Time         : {time_count} baris")
print(f"- Fakta Transactions   : {fact_count} baris")

✅ Data dari pandas berhasil dimuat ke data warehouse:
- Dimensi Customer     : 10127 baris
- Dimensi Card         : 4 baris
- Dimensi Demographics : 1113 baris
- Dimensi Time         : 48 baris
- Fakta Transactions   : 10127 baris

**Coba ETL Lanjutan SCD**

In [ ]:
import pandas as pd
import numpy as np

def implement_scd_type2_customer():
    """Implementasi SCD Type 2 untuk dimensi pelanggan,
    melacak perubahan Attrition_Flag dan Customer_Age"""

    # 1. Simulasi perubahan data (dengan pandas)
    # Ambil beberapa pelanggan dan ubah data mereka
    updated_customers = dim_customer.sample(10).copy()

    # Ubah beberapa data
    for idx, row in updated_customers.iterrows():
        # Ubah Attrition_Flag secara acak
        updated_customers.loc[idx, 'Attrition_Flag'] = np.random.choice(['Existing Customer', 'Attrited Customer'])
        # Ubah Customer_Age dengan menambahkan atau mengurangi nilai acak
        age_change = np.random.randint(-5, 5)
        updated_customers.loc[idx, 'Customer_Age'] = row['Customer_Age'] + age_change

    # 2. Persiapkan data baru untuk dim_customer
    new_customers = updated_customers[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book']].copy()

    # Generate new customer_key
    max_customer_key = conn.execute("SELECT MAX(customer_key) FROM dim_customer").fetchone()[0]
    new_customers['customer_key'] = range(max_customer_key + 1, max_customer_key + len(new_customers) + 1)

    # Set other columns for SCD Type 2
    new_customers['Start_Date'] = pd.Timestamp.now().strftime('%Y-%m-%d') # Set Start_Date to current date
    new_customers['End_Date'] = None  # Set End_Date to None
    new_customers['Is_Current'] = True  # Set Is_Current to True

    # Reorder columns to match the table schema
    new_customers = new_customers[['customer_key', 'CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book', 'Start_Date', 'End_Date', 'Is_Current']]

    # 3. Update existing records in dim_customer (set Is_Current to False and End_Date)
    # Convert the list of CLIENTNUMs to a comma-separated string
    clientnums_str = ','.join(map(str, updated_customers['CLIENTNUM'].tolist()))
    conn.execute(f"""
        UPDATE dim_customer
        SET Is_Current = FALSE, End_Date = '{pd.Timestamp.now().strftime('%Y-%m-%d')}'
        WHERE CLIENTNUM IN ({clientnums_str})
    """)

    # 4. Insert new records into dim_customer
    conn.register('new_customers_df', new_customers)
    conn.execute("INSERT INTO dim_customer SELECT * FROM new_customers_df")

    print("✅ SCD Type 2 implemented for dim_customer (Attrition_Flag and Customer_Age changes)")

implement_scd_type2_customer()

# View the updated dim_customer table
print(conn.execute("SELECT * FROM dim_customer").df())

✅ SCD Type 2 implemented for dim_customer (Attrition_Flag and Customer_Age changes)
       customer_key  CLIENTNUM     Attrition_Flag  Customer_Age  \
0         768805383  768805383  Existing Customer            45
1         818770008  818770008  Existing Customer            49
2         713982108  713982108  Existing Customer            51
3         769911858  769911858  Existing Customer            40
4         709106358  709106358  Existing Customer            40
...             ...        ...                ...           ...
10132     828343089  716297658  Existing Customer            34
10133     828343090  711110733  Existing Customer            48
10134     828343091  772449858  Existing Customer            52
10135     828343092  712370208  Existing Customer            49
10136     828343093  709830783  Existing Customer            45

       Months_on_book Start_Date End_Date  Is_Current
0                  39 2022-01-01      NaT        True
1                  44 2022-01-01      NaT        True
2                  36 2022-01-01      NaT        True
3                  34 2022-01-01      NaT        True
4                  21 2022-01-01      NaT        True
...               ...        ...      ...         ...
10132              36 2025-03-21      NaT        True
10133              33 2025-03-21      NaT        True
10134              41 2025-03-21      NaT        True
10135              35 2025-03-21      NaT        True
10136              36 2025-03-21      NaT        True

[10137 rows x 8 columns]

In [ ]:
# prompt: cari yang clientnum sama

conn.execute("""
    SELECT *
    FROM dim_customer
    WHERE CLIENTNUM IN (
        SELECT CLIENTNUM
        FROM dim_customer
        GROUP BY CLIENTNUM
        HAVING COUNT(*) > 1
    );
""").df()

,customer_key,CLIENTNUM,Attrition_Flag,Customer_Age,Months_on_book,Start_Date,End_Date,Is_Current
0,712370208,712370208,Existing Customer,48,35,2022-01-01,2025-03-21,False
1,720990183,720990183,Attrited Customer,54,36,2022-01-01,2025-03-21,False
2,716297658,716297658,Existing Customer,37,36,2022-01-01,2025-03-21,False
3,772449858,772449858,Existing Customer,51,41,2022-01-01,2025-03-21,False
4,709690158,709690158,Existing Customer,52,36,2022-01-01,2025-03-21,False
5,709830783,709830783,Existing Customer,47,36,2022-01-01,2025-03-21,False
6,708937608,708937608,Existing Customer,37,18,2022-01-01,2025-03-21,False
7,711110733,711110733,Existing Customer,45,33,2022-01-01,2025-03-21,False
8,710508858,710508858,Existing Customer,44,34,2022-01-01,2025-03-21,False
9,718078008,718078008,Existing Customer,40,36,2022-01-01,2025-03-21,False
10,828343084,709690158,Attrited Customer,47,36,2025-03-21,NaT,True
11,828343085,708937608,Attrited Customer,32,18,2025-03-21,NaT,True
12,828343086,710508858,Existing Customer,41,34,2025-03-21,NaT,True
13,828343087,718078008,Attrited Customer,37,36,2025-03-21,NaT,True
14,828343088,720990183,Existing Customer,52,36,2025-03-21,NaT,True
15,828343089,716297658,Existing Customer,34,36,2025-03-21,NaT,True
16,828343090,711110733,Existing Customer,48,33,2025-03-21,NaT,True
17,828343091,772449858,Existing Customer,52,41,2025-03-21,NaT,True
18,828343092,712370208,Existing Customer,49,35,2025-03-21,NaT,True
19,828343093,709830783,Existing Customer,45,36,2025-03-21,NaT,True

**ETL Incremental**

In [ ]:
# Periksa jumlah data di tabel fact_transactions SEBELUM ETL Incremental
fact_count_before = conn.execute("SELECT COUNT(*) FROM fact_transactions").fetchone()[0]
print(f"Total baris di tabel fact_transactions SEBELUM ETL Incremental: {fact_count_before}")

def etl_incremental(new_data):
    """
    Proses ETL inkremental untuk tabel fact_transactions.
    Hanya data baru yang akan diproses dan dimuat ke tabel.

    Args:
        new_data (pd.DataFrame): Data baru yang akan diproses.
    """
    # 1. Transformasi data baru
    new_fact_transactions = (
        new_data
        .merge(dim_customer, on=['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book'], how='left')
        .merge(dim_card, on=['Card_Category'], how='left')
        .merge(dim_demographics, on=['Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category'], how='left')
        .merge(dim_time, on=['Months_Inactive_12_mon', 'Contacts_Count_12_mon'], how='left')
    )

    new_fact_transactions = new_fact_transactions[[
        'customer_key',          # dari dim_customer
        'Card_Key',              # dari dim_card
        'demographic_key',       # dari dim_demographics
        'Time_Key',              # dari dim_time
        'Credit_Limit',
        'Total_Revolving_Bal',
        'Avg_Open_To_Buy',
        'Total_Amt_Chng_Q4_Q1',
        'Total_Trans_Amt',
        'Total_Trans_Ct',
        'Total_Ct_Chng_Q4_Q1',
        'Avg_Utilization_Ratio'
    ]].reset_index(drop=True)

    # Tambahkan primary key Transaction_ID
    max_transaction_id = conn.execute("SELECT MAX(Transaction_ID) FROM fact_transactions").fetchone()[0]
    if max_transaction_id is None:
        max_transaction_id = 0
    new_fact_transactions['Transaction_ID'] = range(max_transaction_id + 1, max_transaction_id + len(new_fact_transactions) + 1)

    # Susun ulang kolom agar Transaction_ID di awal sesuai definisi SQL
    new_fact_transactions = new_fact_transactions[[
        'Transaction_ID',
        'customer_key',
        'Card_Key',
        'demographic_key',
        'Time_Key',
        'Credit_Limit',
        'Total_Revolving_Bal',
        'Avg_Open_To_Buy',
        'Total_Amt_Chng_Q4_Q1',
        'Total_Trans_Amt',
        'Total_Trans_Ct',
        'Total_Ct_Chng_Q4_Q1',
        'Avg_Utilization_Ratio'
    ]]

    # 2. Load data baru ke tabel fact_transactions
    conn.register('new_fact_transactions_df', new_fact_transactions)
    conn.execute("INSERT INTO fact_transactions SELECT * FROM new_fact_transactions_df")

    print("✅ ETL Incremental berhasil! Data baru telah dimuat ke tabel fact_transactions.")



# Simulasi data baru (200 baris)
new_data = df.sample(200).copy()


# Jalankan ETL Incremental
etl_incremental(new_data)

# Periksa jumlah data di tabel fact_transactions
fact_count = conn.execute("SELECT COUNT(*) FROM fact_transactions").fetchone()[0]
print(f"Total baris di tabel fact_transactions: {fact_count}")

Total baris di tabel fact_transactions SEBELUM ETL Incremental: 10527
✅ ETL Incremental berhasil! Data baru telah dimuat ke tabel fact_transactions.
Total baris di tabel fact_transactions: 10727

Empty DataFrame
Columns: [Transaction_ID, customer_key, Card_key, demographic_key, Time_Key, Credit_Limit, Total_Revolving_Bal, Avg_Open_To_Buy, Total_Amt_Chng_Q4_Q1, Total_Trans_Amt, Total_Trans_Ct, Total_Ct_Chng_Q4_Q1, Avg_Utilization_Ratio]
Index: []

In [121]:
import duckdb
import pandas as pd
import os
import urllib.request
from datetime import datetime

class ETLPipeline:
    def __init__(self, db_path, sharing_link=None, local_file_path="data.csv"):
        self.sharing_link = sharing_link
        self.db_path = db_path
        self.local_file_path = local_file_path
        self.conn = duckdb.connect(database=self.db_path)

    def initialize_warehouse(self):
        """Membuat struktur tabel di data warehouse jika belum ada."""
        self.conn.execute("""
        CREATE TABLE IF NOT EXISTS dim_customer (
            customer_key INT,
            CLIENTNUM INT,
            Attrition_Flag VARCHAR,
            Customer_Age INT,
            Months_on_book INT,
            Start_Date TIMESTAMP,
            End_Date TIMESTAMP,
            Is_Current BOOLEAN
        );
        """)

        self.conn.execute("""
        CREATE TABLE IF NOT EXISTS dim_card (
            Card_Key INT,
            Card_Category VARCHAR
        );
        """)

        self.conn.execute("""
        CREATE TABLE IF NOT EXISTS dim_demographics (
            demographic_key INT,
            Demographic_ID INT,
            Gender VARCHAR,
            Dependent_count INT,
            Education_Level VARCHAR,
            Marital_Status VARCHAR,
            Income_Category VARCHAR,
            Start_Date TIMESTAMP,
            End_Date TIMESTAMP,
            Is_Current BOOLEAN
        );
        """)

        self.conn.execute("""
        CREATE TABLE IF NOT EXISTS dim_time (
            Time_Key INT,
            Months_Inactive_12_mon INT,
            Contacts_Count_12_mon INT
        );
        """)

        self.conn.execute("""
        CREATE TABLE IF NOT EXISTS fact_transactions (
            Transaction_ID INT,
            customer_key INT,
            Card_Key INT,
            demographic_key INT,
            Time_Key INT,
            Credit_Limit DOUBLE,
            Total_Revolving_Bal INT,
            Avg_Open_To_Buy DOUBLE,
            Total_Amt_Chng_Q4_Q1 DOUBLE,
            Total_Trans_Amt INT,
            Total_Trans_Ct INT,
            Total_Ct_Chng_Q4_Q1 DOUBLE,
            Avg_Utilization_Ratio DOUBLE
        );
        """)

        print("✅ Struktur data warehouse berhasil diinisialisasi.")

    def extract(self):
        """Ekstrak data dari Google Drive sharing link atau file lokal."""
        if self.sharing_link:
            try:
                file_id = self.sharing_link.split('/d/')[1].split('/')[0]
                direct_download_link = f"https://drive.google.com/uc?export=download&id={file_id}"

                if not os.path.exists(self.local_file_path):
                    print("🔽 Mengunduh file dari Google Drive...")
                    urllib.request.urlretrieve(direct_download_link, self.local_file_path)
                    print(f"✅ File berhasil diunduh ke: {self.local_file_path}")
                else:
                    print(f"📂 Menggunakan file lokal: {self.local_file_path}")
            except Exception as e:
                raise RuntimeError(f"❌ Gagal mengunduh file dari Google Drive: {e}")

        try:
            df = pd.read_csv(self.local_file_path)
            print("✅ Data berhasil diekstrak.")
            return df
        except Exception as e:
            raise RuntimeError(f"❌ Gagal membaca file CSV: {e}")

    def transform(self, df):
        """Transformasi data mentah menjadi tabel dimensi dan fakta."""

        df = df.drop(columns=[
            'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
            'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'
        ], errors='ignore')

        # Dim Customer
        dim_customer = df[['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book']].drop_duplicates().reset_index(drop=True)
        dim_customer['customer_key'] = dim_customer['CLIENTNUM']
        dim_customer['Start_Date'] = '2022-01-01'
        dim_customer['End_Date'] = None
        dim_customer['Is_Current'] = True
        dim_customer = dim_customer[[
            'customer_key', 'CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book',
            'Start_Date', 'End_Date', 'Is_Current'
        ]]

        # Dim Card
        dim_card = df[['Card_Category']].drop_duplicates().reset_index(drop=True)
        dim_card['Card_Key'] = range(1, len(dim_card) + 1)
        dim_card = dim_card[['Card_Key', 'Card_Category']]

        # Dim Time
        dim_time = df[['Months_Inactive_12_mon', 'Contacts_Count_12_mon']].drop_duplicates().reset_index(drop=True)
        dim_time['Time_Key'] = range(1, len(dim_time) + 1)
        dim_time = dim_time[['Time_Key', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon']]

        # Dim Demographics
        dim_demographics = df[['Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category']].drop_duplicates().reset_index(drop=True)
        dim_demographics['demographic_key'] = dim_demographics.index + 1
        dim_demographics['Demographic_ID'] = dim_demographics['demographic_key']
        dim_demographics['Start_Date'] = '2022-01-01'
        dim_demographics['End_Date'] = None
        dim_demographics['Is_Current'] = True
        dim_demographics = dim_demographics[[
            'demographic_key', 'Demographic_ID', 'Gender', 'Dependent_count', 'Education_Level',
            'Marital_Status', 'Income_Category', 'Start_Date', 'End_Date', 'Is_Current'
        ]]

        # Faktanya
        fact_transactions = (
            df
            .merge(dim_customer, on=['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Months_on_book'], how='left')
            .merge(dim_card, on=['Card_Category'], how='left')
            .merge(dim_demographics, on=['Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category'], how='left')
            .merge(dim_time, on=['Months_Inactive_12_mon', 'Contacts_Count_12_mon'], how='left')
        )

        fact_transactions = fact_transactions[[
            'customer_key', 'Card_Key', 'demographic_key', 'Time_Key',
            'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy',
            'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
            'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'
        ]].reset_index(drop=True)

        fact_transactions['Transaction_ID'] = range(1, len(fact_transactions) + 1)

        fact_transactions = fact_transactions[[
            'Transaction_ID', 'customer_key', 'Card_Key', 'demographic_key', 'Time_Key',
            'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy',
            'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct',
            'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'
        ]]

        return dim_customer, dim_card, dim_demographics, dim_time, fact_transactions

    def load(self, dim_customer, dim_card, dim_demographics, dim_time, fact_transactions):
        self.load_from_pandas(dim_customer, dim_card, dim_demographics, dim_time, fact_transactions)

    def load_from_pandas(self, dim_customer, dim_card, dim_demographics, dim_time, fact_transactions):
        self.conn.execute("DELETE FROM dim_customer")
        self.conn.register('df_dim_customer', dim_customer)
        self.conn.execute("INSERT INTO dim_customer SELECT * FROM df_dim_customer")

        self.conn.execute("DELETE FROM dim_card")
        self.conn.register('df_dim_card', dim_card)
        self.conn.execute("INSERT INTO dim_card SELECT * FROM df_dim_card")

        self.conn.execute("DELETE FROM dim_demographics")
        self.conn.register('df_dim_demographics', dim_demographics)
        self.conn.execute("INSERT INTO dim_demographics SELECT * FROM df_dim_demographics")

        self.conn.execute("DELETE FROM dim_time")
        self.conn.register('df_dim_time', dim_time)
        self.conn.execute("INSERT INTO dim_time SELECT * FROM df_dim_time")

        self.conn.register('df_fact_transactions', fact_transactions)
        self.conn.execute("CREATE OR REPLACE TABLE temp_fact_transactions AS SELECT * FROM df_fact_transactions")

        self.conn.execute("""
        INSERT INTO fact_transactions
        SELECT
            f.Transaction_ID,
            c.customer_key,
            cr.Card_Key,
            d.demographic_key,
            t.Time_Key,
            f.Credit_Limit,
            f.Total_Revolving_Bal,
            f.Avg_Open_To_Buy,
            f.Total_Amt_Chng_Q4_Q1,
            f.Total_Trans_Amt,
            f.Total_Trans_Ct,
            f.Total_Ct_Chng_Q4_Q1,
            f.Avg_Utilization_Ratio
        FROM temp_fact_transactions f
        JOIN dim_customer c ON f.customer_key = c.customer_key
        JOIN dim_card cr ON f.Card_Key = cr.Card_Key
        JOIN dim_demographics d ON f.demographic_key = d.demographic_key
        JOIN dim_time t ON f.Time_Key = t.Time_Key
        """)

        self.conn.execute("DROP TABLE temp_fact_transactions")

        print("✅ Data berhasil dimuat ke data warehouse.")

    def run_full_pipeline(self):
        print("🚀 Menjalankan ETL Pipeline lengkap...")
        start_time = datetime.now()

        try:
            self.initialize_warehouse()
            df = self.extract()
            print("✓ Data diekstrak dari sumber")

            dim_customer, dim_card, dim_demographics, dim_time, fact_transactions = self.transform(df)
            print("✓ Data berhasil ditransformasi")

            self.load(dim_customer, dim_card, dim_demographics, dim_time, fact_transactions)
            print("✓ Data berhasil dimuat ke data warehouse")

            duration = (datetime.now() - start_time).total_seconds()
            print(f"\n✅ ETL Pipeline selesai dalam {duration:.2f} detik")

        except Exception as e:
            print(f"❌ ERROR: ETL Pipeline gagal dijalankan: {e}")

    def __del__(self):
        try:
            if hasattr(self, 'conn'):
                self.conn.close()
                print("🔌 Koneksi DuckDB ditutup.")
        except:
            pass

In [122]:
pipeline = ETLPipeline(
    db_path="datawarehouse.duckdb",
    sharing_link="https://drive.google.com/file/d/1Ii-ZwI4v9ja1kC21HqygyhMqgAEpS1mo/view?usp=sharing",
    local_file_path="sample_etl_500.csv"
)

pipeline.run_full_pipeline()

🚀 Menjalankan ETL Pipeline lengkap...
✅ Struktur data warehouse berhasil diinisialisasi.
📂 Menggunakan file lokal: sample_etl_500.csv
✅ Data berhasil diekstrak.
✓ Data diekstrak dari sumber
✓ Data berhasil ditransformasi
✅ Data berhasil dimuat ke data warehouse.
✓ Data berhasil dimuat ke data warehouse

✅ ETL Pipeline selesai dalam 0.12 detik

In [125]:
# prompt: tampilkan data dari datawarehouse.duckdb

conn = duckdb.connect(database="datawarehouse.duckdb")
# Menampilkan data dari tabel dim_customer
print(conn.execute("SELECT * FROM dim_customer").df())

# Menampilkan data dari tabel dim_card
print(conn.execute("SELECT * FROM dim_card").df())

# Menampilkan data dari tabel dim_demographics
print(conn.execute("SELECT * FROM dim_demographics").df())

# Menampilkan data dari tabel dim_time
print(conn.execute("SELECT * FROM dim_time").df())

# Menampilkan data dari tabel fact_transactions
print(conn.execute("SELECT * FROM fact_transactions").df())

     customer_key  CLIENTNUM     Attrition_Flag  Customer_Age  Months_on_book  \
0       719455083  719455083  Existing Customer            48              39
1       773503308  773503308  Existing Customer            59              53
2       715452408  715452408  Existing Customer            37              36
3       711264033  711264033  Existing Customer            47              36
4       718943508  718943508  Existing Customer            42              33
..            ...        ...                ...           ...             ...
495     779320008  779320008  Attrited Customer            43              25
496     712829808  712829808  Attrited Customer            39              29
497     715129233  715129233  Existing Customer            51              36
498     716890533  716890533  Existing Customer            49              36
499     714820158  714820158  Attrited Customer            29              36

    Start_Date End_Date  Is_Current
0   2022-01-01      NaT        True
1   2022-01-01      NaT        True
2   2022-01-01      NaT        True
3   2022-01-01      NaT        True
4   2022-01-01      NaT        True
..         ...      ...         ...
495 2022-01-01      NaT        True
496 2022-01-01      NaT        True
497 2022-01-01      NaT        True
498 2022-01-01      NaT        True
499 2022-01-01      NaT        True

[500 rows x 8 columns]
   Card_Key Card_Category
0         1          Blue
1         2          Gold
2         3        Silver
3         4      Platinum
     demographic_key  Demographic_ID Gender  Dependent_count Education_Level  \
0                  1               1      F                3      Uneducated
1                  2               2      M                1      Uneducated
2                  3               3      F                2        Graduate
3                  4               4      M                3       Doctorate
4                  5               5      M                3         Unknown
..               ...             ...    ...              ...             ...
312              313             313      F                1   Post-Graduate
313              314             314      M                1     High School
314              315             315      M                2         Unknown
315              316             316      M                1      Uneducated
316              317             317      M                3         College

    Marital_Status Income_Category Start_Date End_Date  Is_Current
0           Single  Less than $40K 2022-01-01      NaT        True
1           Single  Less than $40K 2022-01-01      NaT        True
2         Divorced  Less than $40K 2022-01-01      NaT        True
3         Divorced     $40K - $60K 2022-01-01      NaT        True
4           Single    $80K - $120K 2022-01-01      NaT        True
..             ...             ...        ...      ...         ...
312         Single     $40K - $60K 2022-01-01      NaT        True
313        Married    $80K - $120K 2022-01-01      NaT        True
314        Married     $40K - $60K 2022-01-01      NaT        True
315         Single    $80K - $120K 2022-01-01      NaT        True
316        Married    $80K - $120K 2022-01-01      NaT        True

[317 rows x 10 columns]
    Time_Key  Months_Inactive_12_mon  Contacts_Count_12_mon
0          1                       3                      4
1          2                       5                      4
2          3                       3                      3
3          4                       2                      3
4          5                       3                      2
5          6                       1                      2
6          7                       4                      3
7          8                       3                      0
8          9                       6                      1
9         10                       1                      4
10        11                       3                      1
11        12                       5                      3
12        13                       2                      2
13        14                       2                      1
14        15                       1                      1
15        16                       2                      0
16        17                       1                      3
17        18                       2                      4
18        19                       4                      2
19        20                       5                      1
20        21                       4                      4
21        22                       2                      5
22        23                       6                      2
23        24                       4                      0
24        25                       4                      1
25        26                       3                      5
26        27                       1                      5
27        28                       6                      3
28        29                       1                      0
29        30                       0                      0
30        31                       5                      2
31        32                       6                      4
     Transaction_ID  customer_key  Card_Key  demographic_key  Time_Key  \
0                 2     773503308         1                2         2
1                 3     715452408         1                3         3
2                 4     711264033         1                4         4
3                 6     778247358         1                6         5
4                 7     710431158         1                7         6
..              ...           ...       ...              ...       ...
495             239     720356133         1              181        11
496             276     768848658         1                7        11
497             479     709343433         1               71         3
498             488     717461283         1               11         4
499              52     719614758         1               47        13

     Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  \
0          2192.0                 1569            623.0                 0.706
1          1734.0                  987            747.0                 0.879
2          4786.0                 1516           3270.0                 0.940
3          7636.0                    0           7636.0                 0.801
4         10273.0                 1657           8616.0                 0.710
..            ...                  ...              ...                   ...
495       23939.0                 1419          22520.0                 0.785
496       16583.0                 1797          14786.0                 0.889
497        2469.0                 1826            643.0                 0.666
498        2214.0                  570           1644.0                 0.688
499        2700.0                 1977            723.0                 0.801

     Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
0               4010              79                0.717
1               4727              67                0.914
2               4973              74                0.850
3               3880              67                0.811
4               3778              70                0.591
..               ...             ...                  ...
495            14812             101                0.804
496             7823              87                0.673
497             3837              74                0.721
498             2066              45                0.250
499             4984              75                1.083

     Avg_Utilization_Ratio
0                    0.716
1                    0.569
2                    0.317
3                    0.000
4                    0.161
..                     ...
495                  0.059
496                  0.108
497                  0.740
498                  0.257
499                  0.732

[500 rows x 13 columns]